- Pregnancies : 임신횟수
- Glucose : 포도당 농도
- BloodPressure : 혈압
- SkinThickness : 피부두께
- Insulin : 인슐린
- BMI : 체질량지수
- DiabetesPedigreeFunction: 당뇨병 혈통 기능
- Age : 나이
- Outcome : 당뇨병 여부(target)

In [48]:
import pandas as pd

raw_data_train = pd.read_csv('data/train.csv')
raw_data_test = pd.read_csv('data/train.csv')
raw_data_submission = pd.read_csv('data/train.csv')

In [49]:
train = raw_data_train.copy()
test = raw_data_test.copy()
submission = raw_data_submission.copy()

In [50]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 652 entries, 0 to 651
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        652 non-null    object
 1   Pregnancies               652 non-null    int64
 2   Glucose                   652 non-null    int64
 3   BloodPressure             652 non-null    int64
 4   SkinThickness             652 non-null    int64
 5   Insulin                   652 non-null    int64
 6   BMI                       652 non-null    float64
 7   DiabetesPedigreeFunction  652 non-null    float64
 8   Age                       652 non-null    int64
 9   Outcome                   652 non-null    int64
dtypes: float64(2), int64(7), object(1)
memory usage: 51.1+ KB

In [51]:
train.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,652.000000,652.000000,652.000000,652.000000,652.000000,652.000000,652.000000,652.000000,652.000000
mean,3.923313,120.946319,68.895706,20.440184,80.878834,31.947393,0.465133,33.510736,0.349693
std,3.327529,31.992394,19.183843,15.918604,117.748315,7.460975,0.329496,11.824817,0.477239
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.084000,21.000000,0.000000
25%,1.000000,99.000000,64.000000,0.000000,0.000000,27.400000,0.238750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,34.000000,32.000000,0.363000,29.500000,0.000000
75%,6.000000,142.000000,80.000000,32.000000,126.000000,36.425000,0.607750,41.000000,1.000000
max,15.000000,199.000000,114.000000,99.000000,846.000000,57.300000,2.329000,81.000000,1.000000

In [52]:
# iloc메서드는 integer location의 줄임말로, 위치기반 인덱싱(Position-based indexing)을 수행하는 메서드이다.

train.iloc[1:4]

,ID,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,TRAIN_001,10,133,68,0,0,27.0,0.245,36,0
2,TRAIN_002,4,112,78,40,0,39.4,0.236,38,0
3,TRAIN_003,1,119,88,41,170,45.3,0.507,26,0

In [53]:
train.loc[3:5]

,ID,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
3,TRAIN_003,1,119,88,41,170,45.3,0.507,26,0
4,TRAIN_004,1,114,66,36,200,38.1,0.289,21,0
5,TRAIN_005,3,78,50,32,88,31.0,0.248,26,1

In [54]:
train.loc[3:5]
# train.loc['TRAIN_003':'TRAIN_005']

,ID,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
3,TRAIN_003,1,119,88,41,170,45.3,0.507,26,0
4,TRAIN_004,1,114,66,36,200,38.1,0.289,21,0
5,TRAIN_005,3,78,50,32,88,31.0,0.248,26,1

In [55]:
print('Gloucose 피처의 값이 170 이상인 수 : ', len(train[train['Glucose'] >= 170]))

# loc[조건, '적용할 피처명'] = 변경할 값
# 위의 형태로 데이터를 변경할 수 있다.
train.loc[train['Glucose'] >= 170, 'Glucose'] = 169

print('Glucose 피처의 값이 170 이상인 수 : ',len(train[train['Glucose'] >= 170]))

Gloucose 피처의 값이 170 이상인 수 :  57
Glucose 피처의 값이 170 이상인 수 :  0

In [56]:
train_bloodpressure = train.iloc[3:7][['BloodPressure']]
train_bloodpressure

   BloodPressure
3             88
4             66
5             50
6             54

In [57]:
train[['BloodPressure']].describe()

       BloodPressure
count     652.000000
mean       68.895706
std        19.183843
min         0.000000
25%        64.000000
50%        72.000000
75%        80.000000
max       114.000000

In [58]:
train.sample(10)

,ID,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
18,TRAIN_018,5,77,82,41,42,35.8,0.156,35,0
108,TRAIN_108,2,169,88,37,120,44.5,0.646,24,1
205,TRAIN_205,10,148,84,48,237,37.6,1.001,51,1
544,TRAIN_544,0,57,60,0,0,21.7,0.735,67,0
413,TRAIN_413,0,126,86,27,120,27.4,0.515,21,0
85,TRAIN_085,14,100,78,25,184,36.6,0.412,46,1
397,TRAIN_397,1,100,74,12,46,19.5,0.149,28,0
635,TRAIN_635,0,169,88,44,510,43.3,0.222,26,1
60,TRAIN_060,4,131,68,21,166,33.1,0.160,28,0
83,TRAIN_083,1,136,74,50,204,37.4,0.399,24,0

In [59]:
list(train.index)[:10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
train.values

array([['TRAIN_000', 4, 103, ..., 0.966, 33, 0],
       ['TRAIN_001', 10, 133, ..., 0.245, 36, 0],
       ['TRAIN_002', 4, 112, ..., 0.236, 38, 0],
       ...,
       ['TRAIN_649', 8, 84, ..., 0.457, 39, 0],
       ['TRAIN_650', 2, 81, ..., 0.547, 25, 0],
       ['TRAIN_651', 1, 107, ..., 0.165, 24, 0]], dtype=object)

In [61]:
train_age = train['Age'].values
train_age[:10]

array([33, 36, 38, 26, 21, 26, 23, 42, 21, 33])

In [62]:
train['Age'].dtype

dtype('int64')

## Age피처의 데이터 타입을 float으로 변환

In [63]:
train_float = train['Age'].astype(float)
train_float

0      33.0
1      36.0
2      38.0
3      26.0
4      21.0
       ...
647    21.0
648    41.0
649    39.0
650    25.0
651    24.0
Name: Age, Length: 652, dtype: float64

In [64]:
train.head(3)

,ID,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,TRAIN_000,4,103,60,33,192,24.0,0.966,33,0
1,TRAIN_001,10,133,68,0,0,27.0,0.245,36,0
2,TRAIN_002,4,112,78,40,0,39.4,0.236,38,0

In [65]:
train.tail(3)

,ID,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
649,TRAIN_649,8,84,74,31,0,38.3,0.457,39,0
650,TRAIN_650,2,81,72,15,76,30.1,0.547,25,0
651,TRAIN_651,1,107,68,19,0,26.5,0.165,24,0

In [66]:
train['Outcome'].value_counts()

0    424
1    228
Name: Outcome, dtype: int64

In [67]:
# Outcome 피처의 각 클래스별 비율 확인

train['Outcome'].value_counts(normalize=True)

0    0.650307
1    0.349693
Name: Outcome, dtype: float64

## BloodPressure을 3개 구간으로 분류

In [68]:
train['bloodPressure_cut'] = pd.cut(train['BloodPressure'], bins = 3, labels = ['A', 'B', 'C'])
train['bloodPressure_cut'].value_counts

<bound method IndexOpsMixin.value_counts of 0      B
1      B
2      C
3      C
4      B
      ..
647    B
648    B
649    B
650    B
651    B
Name: bloodPressure_cut, Length: 652, dtype: category
Categories (3, object): ['A' < 'B' < 'C']>

## BloodPressure 피처에 직접 범위를 설정해 구간별 분류하기

In [69]:
train['bloodpressure_cut'] = pd.cut(
    train['BloodPressure'], 
    bins = [0, 40, 80, 120],
    labels = ['A', 'B', 'C'], 
    right = False
)

print(train['bloodpressure_cut'].value_counts(sort = False))

print('혈압이 40 미만인 값 : ', 
    len(train[train['BloodPressure'] < 40]))
print('혈압이 40이상 80미만인 값 : ',
    len(train[(train['BloodPressure'] >= 40) & (train['BloodPressure'] < 80)]))
print('혈압이 80이상인 값 : ',
    len(train[(train['BloodPressure'] >= 80) & (train['BloodPressure'] < 120)]))

A     34
B    449
C    169
Name: bloodpressure_cut, dtype: int64
혈압이 40 미만인 값 :  34
혈압이 40이상 80미만인 값 :  449
혈압이 80이상인 값 :  169

In [70]:
train['bloodpressure_cut'] = pd.qcut(train['BloodPressure'], q = 4, labels = ['A', 'B', 'C', 'D'])
train['bloodpressure_cut'].value_counts(sort = False)

A    201
B    158
C    159
D    134
Name: bloodpressure_cut, dtype: int64

In [71]:
train['glucose_cut'] = pd.cut(  
    train['Glucose'],   
    bins = [0, 100, 200],   
    labels = ['normal', 'suspected'],  
    right = False  
)  
  
train['glucose_cut'].value_counts()

suspected    481
normal       171
Name: glucose_cut, dtype: int64

## StandardScaler를 이용한 train 데이터 표준화 (1)

In [72]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(train.loc[:,'Pregnancies':'Age'])

StandardScaler()

In [73]:
scaled_train = scaler.transform(train.loc[:,'Pregnancies':'Age'])
scaled_test = scaler.transform(test.loc[:,'Pregnancies':'Age'])

sequential_features = scaler.feature_names_in_

for index, feature in enumerate(sequential_features):
    train[feature] = scaled_train[:,index]
    test[feature] = scaled_test[:,index]
    
train.head()

,ID,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,bloodPressure_cut,bloodpressure_cut,glucose_cut
0,TRAIN_000,0.023064,-0.563969,-0.464064,0.789608,0.944442,-1.066013,1.521265,-0.043225,0,B,A,suspected
1,TRAIN_001,1.827588,0.449465,-0.046726,-1.285030,-0.687406,-0.663612,-0.668604,0.210673,0,B,B,suspected
2,TRAIN_002,0.023064,-0.259938,0.474946,1.229683,-0.687406,0.999645,-0.695939,0.379939,0,C,C,suspected
3,TRAIN_003,-0.879198,-0.023471,0.996618,1.292551,0.757460,1.791034,0.127160,-0.635655,0,C,D,suspected
4,TRAIN_004,-0.879198,-0.192376,-0.151061,0.978212,1.012436,0.825272,-0.534964,-1.058819,0,B,B,suspected

### 독립변수와 종속변수 설정

In [74]:
x_train = train.drop(['ID', 'Outcome'], axis = 1)
y_train = train['Outcome']

x_test = test.drop('ID', axis = 1)

## Glucose 피처에 직접 범위를 설정해 구간별 분류하기

In [75]:
x_train['binning_glucose'] = pd.cut(
    x_train['Glucose'],
    bins = [0, 100, 200],
    labels = ['normal', 'suspected'],
    right = False
)

x_test['binning_glucose'] = pd.cut(
    x_test['Glucose'],
    bins = [0, 100, 200],
    labels = ['normal', 'suspected'],
    right = False
)

In [76]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(x_train.loc[:,'Pregnancies':'Age'])

StandardScaler()

In [77]:
scaled_train = scaler.transform(x_train.loc[:,'Pregnancies':'Age'])
scaled_test = scaler.transform(x_test.loc[:,'Pregnancies':'Age'])

sequential_features = scaler.feature_names_in_

for index, feature in enumerate(sequential_features):
    x_train[feature] = scaled_train[:,index]
    x_test[feature] = scaled_test[:,index]

x_train.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,bloodPressure_cut,bloodpressure_cut,glucose_cut,binning_glucose
0,0.023064,-0.563969,-0.464064,0.789608,0.944442,-1.066013,1.521265,-0.043225,B,A,suspected,NaN
1,1.827588,0.449465,-0.046726,-1.285030,-0.687406,-0.663612,-0.668604,0.210673,B,B,suspected,normal
2,0.023064,-0.259938,0.474946,1.229683,-0.687406,0.999645,-0.695939,0.379939,C,C,suspected,NaN
3,-0.879198,-0.023471,0.996618,1.292551,0.757460,1.791034,0.127160,-0.635655,C,D,suspected,NaN
4,-0.879198,-0.192376,-0.151061,0.978212,1.012436,0.825272,-0.534964,-1.058819,B,B,suspected,NaN

## LabelEncoder를 활용한 범주형 데이터 인코딩

In [79]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

le = le.fit(x_train['binning_glucose'])
x_train['binning_glucose'] = le.transform(x_train['binning_glucose'])

In [80]:
import numpy as np

for label in x_test['binning_glucose']: 
    if label not in le.classes_: 
        le.classes_ = np.append(le.classes_, label)
        
x_test['binning_glucose'] = le.transform(x_test['binning_glucose'])

In [81]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()

In [82]:
model.fit(x_train, y_train)

predict = model.predict(x_test)

ValueError: could not convert string to float: 'B'

In [83]:
submission['Outcome'] = predict
submission.to_csv('submission.csv', index = False)

NameError: name 'predict' is not defined