- Pregnancies : 임신횟수
- Glucose : 포도당 농도
- BloodPressure : 혈압
- SkinThickness : 피부두께
- Insulin : 인슐린
- BMI : 체질량지수
- DiabetesPedigreeFunction: 당뇨병 혈통 기능
- Age : 나이
- Outcome : 당뇨병 여부(target)

In [5]:
import pandas as pd

raw_data_train = pd.read_csv('data/train.csv')
raw_data_test = pd.read_csv('data/train.csv')
raw_data_submission = pd.read_csv('data/train.csv')

In [6]:
train = raw_data_train.copy()
test = raw_data_test.copy()
submission = raw_data_submission.copy()

In [7]:
train.head(3)

,ID,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,TRAIN_000,4,103,60,33,192,24.0,0.966,33,0
1,TRAIN_001,10,133,68,0,0,27.0,0.245,36,0
2,TRAIN_002,4,112,78,40,0,39.4,0.236,38,0

In [8]:
train.tail(3)

,ID,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
649,TRAIN_649,8,84,74,31,0,38.3,0.457,39,0
650,TRAIN_650,2,81,72,15,76,30.1,0.547,25,0
651,TRAIN_651,1,107,68,19,0,26.5,0.165,24,0